body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #442b56;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.center {
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    align-self: start;
}

.form-group input {
    width: 97%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #6a0dad;
    background: none;
    margin-bottom: 10px;
    outline: none;
}

.form-group input[type="submit"] {
    background: linear-gradient(to right, #6a0dad, #b83b5e); /* Gradient color for submit button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 200px;
    text-align: center;
}

.form-group input[type="submit"]:hover {
    background: linear-gradient(to right, #b83b5e, #6a0dad); /* Gradient color on hover */
}